.p-link2 {
    &__heading {
        height: 80px;
        width: 100%;
        display: block;
        background-color: $color-6dcff6;
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 3.2rem;
        font-weight: bold;
        border: 2px solid $color-black;
        box-sizing: border-box;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
            /* add your IE10-IE11 css here */
            padding-top: 10px;
        }
    }

    &__text {
        font-size: 1.5rem;
        line-height: calc(20 /15);

        span {
            color: $color-c40000;
        }

        &--box {
            padding: 19px 28px;
            border: 1PX solid $color-11638a;
            border-radius: 5px;

            p {
                color: $color-11638a;

                &::before,
                &::after {
                    content: "";
                    display: inline-block;
                }

                &::before {
                    background: url("/_public/assets/img/icon-quocte-left.png") no-repeat 0 center;
                    width: 16px;
                    height: 15px;
                    margin-right: 3px;
                    position: relative;
                    top: 3px;
                }

                &::after {
                    background: url("/_public/assets/img/icon-quocte-right.png") no-repeat 0 center;
                    width: 17px;
                    height: 14px;
                    margin-left: 2px;
                    position: relative;
                    top: 2px;
                }
            }
        }

        &--box2 {
            padding: 19px 27px;
            border: 1px solid $color-f5989d;
            border-radius: 5px;

            p {
                color: $color-f5989d;

                &::before,
                &::after {
                    content: "";
                    width: 17px;
                    height: 15px;
                    display: inline-block;
                    position: relative;
                }

                &::before {
                    background: url("/_public/assets/img/icon-quocte-left2.png") no-repeat 0 center;
                    margin-right: 2px;
                    top: 3px;
                }

                &::after {
                    background: url("/_public/assets/img/icon-quocte-right2.png") no-repeat 0 center;
                    margin-left: 3px;
                    top: 3px;
                }
            }
        }

        &--comment,
        &--comment2,
        &--leaf {
            display: box;
            display: flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 0 5px;
        }

        &--comment {
            color: $color-11638a;
        }

        &--comment2 {
            color: $color-f5989d;

            img {
                position: relative;
                top: 1px;
            }
        }

        &--leaf {
            color: $color-f5989d;

            img {
                position: relative;
                top: 1px;
            }

            &2 {
                img {
                    top: 0;
                }
            }
        }
    }

    &__listtext {
        font-size: 1.5rem;
        line-height: calc(30 /15);

        span {
            color: $color-f5989d;
            margin-right: 6px;
        }

        &--sub {
            margin-left: 36px;
        }
    }
}
