/*------------------------------------------------------------
Css of link1 page
------------------------------------------------------------*/
.section-anchor {
    &__text {
        font-size: 1.4rem;
        font-weight: 500;
    }
}

.p-anchorlist {
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: -49px;
}

.p-anchoritem {
    width: 100%;
    margin-left: 49px;

    &:nth-child(2) {
        position: relative;
        left: -1px;
    }
}

.p-anchorlink {
    height: 45px;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: $color-00aeef;
    color: $color-white;
    border-radius: 5px;
    font-size: 1.6rem;

    &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 8px;
        background: url("/_public/assets/img/icon-arrow2.png") no-repeat 0 center;
        position: relative;
        left: -1px;
        top: -1px;
        margin-right: 5px;
    }
}

.section-anchor {
    &__title {
        font-size: 1.8rem;
        font-weight: bold;
        padding-bottom: 8px;
        margin-bottom: 26px;
        border-bottom: 2px solid $color-cccccc;
    }

    &__caption {
        line-height: 1;
        background-color: $color-ece6e6;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 12px 14px;
    }
}
