/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
// Main banner
.p-mainbanner {
    .l-container {
        position: relative;
    }

    &__content {
        max-width: 404px;
        position: absolute;
        left: 40px;
        bottom: 33px;
    }

    &__text {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        margin-top: 13px;
    }
}

// Section news
.p-projectnews {
    &__item {
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 1.6rem;
        margin-bottom: 12px;
        line-height: 1;
    }

    &__image {
        position: relative;
        width: 350px;
        margin-right: 40px;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__info {
        width: calc(100% - 390px);
        min-height: 190px;
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    &__link {
        margin-top: auto;
        margin-left: auto;

        a {
            width: 150px;
            height: 50px;
            font-size: 1.5rem;
            font-weight: bold;
            color: $color-white;
            border-radius: 5px;
            display: box;
            display: flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            background-color: $color-afafaf;
            text-decoration: none;
            letter-spacing: -0.8px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
                /* add your IE10-IE11 css here */
                padding-top: 5px;
            }
        }
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        /* add your IE10-IE11 css here */
        &__info {
            position: relative;
        }

        &__link {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    .c-button {
        margin: 0 auto;
    }
}

// Section common
.p-projectcommon {
    &--feature {
        background-color: $color-fafafa;
        padding: 60px 0;

        .c-button {
            margin-left: auto;
        }
    }
}
