/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
// Main banner
.p-mainbanner {
    .l-container {
        position: relative;
    }

    &__content {
        max-width: 400px;
        position: absolute;
        bottom: 40px;
        left: 40px;
    }

    &__text {
        font-size: 20px;
        line-height: 1.3;
        font-weight: normal;
        margin-top: 15px;
    }
}
// Section news
.p-projectnews {
    &__item {
        display: flex;
        align-items: flex-start;
        gap: 0 40px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    &__title {
        font-size: 16px;
        margin-bottom: 15px;
        line-height: 1;
    }

    &__image {
        position: relative;
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__info {
        flex: 1;
        min-height: 190px;
        display: flex;
        flex-direction: column;
    }

    &__link {
        margin-top: auto;
        margin-left: auto;

        a {
            height: 50px;
            padding: 0 54px;
            font-size: 15px;
            font-weight: bold;
            color: $color-white;
            border-radius: 7px;
            display: inline-flex;
            align-items: center;
            background-color: $color-afafaf;
            text-decoration: none;
        }
    }

    .c-button {
        margin: 0 auto;
    }
}
// Section common
.p-projectcommon {
    &--feature {
        background-color: $color-fafafa;
        padding: 62px 0;

        .c-button {
            margin-left: auto;
        }
    }

    &--blog {
        .c-button {
            width: 100%;
        }
    }
}
