/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-button {
    width: 300px;
    height: 65px;
    border: 2px solid $color-black;
    border-radius: 5px;
    display: box;
    display: flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: $color-white;
    text-decoration: none;
    text-align: center;

    &--1 {
        background-color: $color-ffd800;
    }

    &--2 {
        background-color: $color-f68e56;
    }

    &--3 {
        background-color: $color-6dcff6;
        width: 100%;
    }
}
