/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
    &__image {
        img {
            width: 100%;
        }
        margin-bottom: 14px;
    }

    &__label {
        margin-bottom: 16px;
    }
}
