.c-labelcate {
    color: $primary-color;
    padding: 0 22px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
        /* add your IE10-IE11 css here */
        padding-top: 5px;
    }

    &--big {
        font-size: 1.6rem;
        font-weight: bold;
    }

    &--small {
        height: 30px;
    }

    &--smallcus1 {
        position: relative;
        top: 1px;
        left: -2px;
    }
}
