//baseWidth
$base-width: 1000px;

$main-fonts: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

//color common
$color-black: #000;
$color-white: #fff;
$primary-color: #222;
$color-fff799: #fff799;
$color-a3d39c: #a3d39c;
$color-ffdfdf: #ffdfdf;
$color-afafaf: #afafaf;
$color-fff9da: #fff9da;
$color-ffd800: #ffd800;
$color-fff2f2: #fff2f2;
$color-f68e56: #f68e56;
$color-ebebeb: #ebebeb;
$color-6dcff6: #6dcff6;
$color-a8a8a8: #a8a8a8;
$color-fafafa: #fafafa;
$color-cccccc: #ccc;
$color-00aeef: #00aeef;
$color-blue: #1f53fa;
$color-red: #f00;
$color-orange: #ff9c00;
$color-ece6e6: #ece6e6;
$color-acd373: #acd373;
$color-d3d7d9: #d3d7d9;
$color-bcd5e1: #bcd5e1;
$color-11638a: #11638a;
$color-ffe8e9: #ffe8e9;
$color-f5989d: #f5989d;
$color-c40000: #c40000;
