/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    &__list {
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 0 9px;
    }

    &__item {
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        a {
            text-decoration: underline;
        }

        span {
            line-height: 1;
        }

        &--arrow {
            position: relative;
            top: -1px;
            left: 2px;
        }

        &--last {
            span {
                letter-spacing: -0.4px;
            }
        }
    }

    &__image {
        width: 15px;
        margin-right: 5px;
    }

    &__link {
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        color: $color-black;
    }

    &--bottom {
        padding: 10px 0 9px;
        border-width: 1px 0;
        border-style: solid;
        border-color: $color-cccccc;
    }
}
