/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    &__list {
        display: flex;
        align-items: center;
        gap: 0 9px;
    }

    &__item {
        display: flex;
        align-items: baseline;

        span {
            line-height: 1;
        }
    }

    &__image {
        margin-right: 5px;
    }

    &__link {
        display: flex;
        align-items: center;
        color: $color-black;
    }

    &--bottom {
        padding: 10px 0;
        border-width: 1px 0;
        border-style: solid;
        border-color: $color-cccccc;
    }
}
