/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    &__content {
        padding: 38px 0 37px;
        background-color: $color-fafafa;

        .l-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__menubox {
        width: 100%;

        &:not(:last-child) {
            margin-right: 48px;
        }
    }

    &__menulink {
        display: inline-flex;
        align-items: center;
        line-height: 1;

        &::before {
            content: "";
            display: inline-block;
            margin-right: 5px;
        }
    }

    &__menubox:nth-child(1) &__menulink {
        &::before {
            width: 6px;
            height: 6px;
            background-color: $color-black;
            border-radius: 50%;
        }
    }

    &__menubox:nth-child(2) &__menulink {
        &::before {
            width: 5px;
            height: 7px;
            background: url("/_public/assets/img/icon-arrow.png") no-repeat 0 center;
            margin-right: 7px;
        }
    }

    &__menubox:nth-child(3) &__menulink {
        position: relative;
        top: 2px;
        left: 2px;

        &::before {
            width: 11px;
            height: 11px;
            background: url("/_public/assets/img/icon-link.png") no-repeat 0 center;
            position: relative;
            top: 1px;
            left: -1px;
        }
    }

    &__menutitle {
        font-weight: bold;
        border-bottom: 1px solid $color-cccccc;
        padding-bottom: 8px;
        margin-bottom: 2px;
        font-size: 1.4rem;
        line-height: 1;
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
            /* add your IE10-IE11 css here */
            margin-bottom: 8px;  
        }
    }

    &__bottom {
        padding: 20px 0 24px;
        border-top: 1px solid $color-cccccc;

        &--copyright {
            text-align: center;
            font-size: 1.2rem;
            line-height: 1;
        }
    }

}
