/* Header
------------------------------------------------------------*/
.c-header {
    .l-container {
        height: 90px;
        display: box;
        display: flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-bottom: 1px solid $color-a8a8a8;
    }

    &__menu {
        &--list {
            display: box;
            display: flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            gap: 0 32px;
        }

        &--link {
            text-decoration: none;
            color: $color-black;

            &.is-active {
                font-weight: bold;
                letter-spacing: -0.2px;
            }
        }
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
            /* add your IE10-IE11 css here */
            &--list {
                margin-left: -32px;
            }

            &--item {
                margin-left: 32px;
            }
        }
    }
}
