html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: $base-width;
    line-height: calc(20 / 14);
    color: $primary-color;
    @include sp {
        min-width: 320px;
    }
}
//-------------------------------------------------------
main {
    // padding: 0px 0 100px;
}

section {
    //padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}
//-------------------------------------------------------
